$widthSite: 1140px;

$backgroundSite: #ffffff;
$colorSite: #f16d7f;
$colorTextSite: #222;
$colorFilter: #6f6e6e;

$gapGrid: 88px;
$thirdSite: calc(($widthSite - $gapGrid) / 3);
$quarterSite: calc(($widthSite - $gapGrid) / 4);